@import "tailwindcss";

body
{
    background-color: var(--color-pink-200);
}
container 
{
    width: 50%;
    margin: auto;
}
profile-container
{
    width: 50%;
    margin: auto;
}
label
{
    width: 90px;
    display: inline-block;
}
big-label
{
    width: 170px;
    display: inline-block;
}
button
{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-gray-400);
    border-radius: 5px;
}

button:hover
{
    background-color: var(--color-gray-300);
}

button:disabled
{
    background-color: var(--color-pink-200);
    color: var(--color-gray-100);
}

input
{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-pink-200);
    border: 1px solid var(--color-gray-400);
    border-radius: 5px;
}

input:focus
{
    background-color: var(--color-gray-100);
}

p, button
{
    margin: 5px;
}

canvas
{
    margin: auto;
    border: 1px solid var(--color-gray-800);
    margin-top: 30px;
    background-color: var(--color-pink-600);
    touch-action: none;
}

base{
    padding: 20px;
}